<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Fragment om alle expansions te tonen -->
<div th:fragment="expansionCards(expansions)" class="row row-cols-1 row-cols-md-6 g-4">
    <div th:each="expansion : ${expansions}"
         th:insert="~{:: expansionCard(expansion)}">
    </div>
</div>

<!-- Fragment voor 1 expansion-kaart -->
<div th:fragment="expansionCard(expansion)" class="col">
    <div class="card h-100">
        <a th:href="@{/expansion/detail/{expansionName}(expansionName = ${expansion.name})}">
            <img height="300px" th:src="${expansion.imageUrl}"
                 class="card-img-top object-fit-cover"
                 th:alt="|Cover for ${expansion.name}|"/>
        </a>
    </div>
</div>

</body>
</html>
