<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Replace this title</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Overview of all the cards</h1>
    <a th:href="@{/card/new}">Add new card</a><br/>

    <table>
        <tr>
            <th>Name</th>
            <th>Expansion</th>
            <th>Rarity</th>
            <th>Type</th>
            <th>Market Price</th>
            <th>Last updated</th>
            <th>Expansion</th>
            <th></th>
        </tr>
        <tr th:each="card : ${allCards}">
            <td th:text="${card.name}"></td>
            <td th:text="${card.expansion}"></td>
            <td th:text="${card.rarity}"></td>
            <td th:text="${card.subTypeName}"></td>
            <td th:text="'$' + ${card.marketPrice}"></td>
            <td th:text="${#temporals.format(card.modifiedOn, 'dd-MM-yyyy')}"></td>
            <td th:text="${card.imageUrl}"></td>
            <td><a th:href="@{/card/delete/{cardId}(cardId = ${card.cardId})}">delete</a></td>
        </tr>
    </table>
    <a th:href="@{/card/new}">Add new card</a><br/>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>