<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Overview of all the Expansions</title>
</head>
<body>
<h1>Overview of all the Expansions</h1>

<table>

    <tr>
      <th>Expansion name</th>
      <th>Release date</th>
      <th>No. of cards <br/> in Expansion</th>
      <th>No. of added cards</th>
      <th></th>
    </tr>
    <tr th:each="expansion : ${allexpansions}">
      <td th:text="${expansion.name}"></td>
      <td th:text="${expansion.releaseDate}"></td>
      <td th:text="${expansion.numberOfCards}"></td>
      <td th:text="${expansion.numberOfAddedCards}"></td>
      <td><a th:href="@{/expansion/delete/{expansionId}(expansionId = ${expansion.expansionId})}">Delete</a></td>
    </tr>

</table>

<a th:href="@{/expansion/new}">Add an Expansion</a><br/>
<a th:href="@{/card/overview}">To card overview</a><br/>
<a th:href="@{/deck/overview}">To deck overview</a>
</body>
</html>