<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Expansion overview</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all the Expansions</h1>

    <table>

        <tr>
            <th>Expansion name</th>
            <th>Release date</th>
            <th>No. of cards <br/> in Expansion</th>
            <th>No. of cards <br/> collected</th>
            <th>Total Price</th>
            <th></th>
        </tr>
        <tr th:each="expansion : ${allExpansions}">
            <td th:text="${expansion.name}"></td>
            <td th:text="${expansion.releaseDate}"></td>
            <td th:text="${expansion.numberOfCards}"></td>
            <td th:text="${expansion.getAddedCardsStatus()}"></td>
            <td th:text="${expansion.getExpansionWorth()}"></td>
            <td><a th:href="@{/expansion/update/{expansionId}(expansionId = ${expansion.expansionId})}">Update</a></td>
            <td><a th:href="@{/expansion/delete/{expansionId}(expansionId = ${expansion.expansionId})}">Delete Expansion</a></td>
        </tr>

    </table>

    <a th:href="@{/expansion/new}">Add an expansion</a><br/>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>