<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update your deck</title>
</head>
<body>
<h1>Update your deck</h1>

<form th:action="@{/deck/update/save}" method="post" th:object="${formDeck}">
  <table>
    <tr>
      <th>Deck Name</th>
      <th>Add cards</th>
      <th>Delete cards</th>
    </tr>

    <tr>
      <td><span th:text="*{name}"></span></td>
      <td>
        <select th:field="*{cards}" id="addCard" multiple size="5">
          <option th:each="card : ${allCards}"
                  th:value="${card.cardId}"
                  th:text="${card.name}">
          </option>
        </select>
      </td>

<!--      TODO Functionality of delete cards option needs to be implemented-->
<!--      <td>-->
<!--        <select th:field="*{cards}" id="deleteCard" multiple size="5">-->
<!--          <option th:each="card : ${allCards}"-->
<!--                  th:value="${card.cardId}"-->
<!--                  th:text="${card.name}">-->
<!--          </option>-->
<!--        </select>-->
<!--      </td>-->
    </tr>
  </table>

  <br/><br/>
  <input type="submit" value="Save Deck" />
  <input type="hidden" th:field="*{deckId}" />

</form>

<a th:href="@{/deck/overview}">To deck overview</a><br/>
<a th:href="@{/expansion/overview}">To Expansion overview</a>
</body>
</html>